 <nav class="navbar">

    <a href="/app/home" ><img class='covid-logo' src="/images/covid-19-logo.png"</a>
  <h3 class='d-inline'>COVID-19 APP (Mobile Edition)</h3>    

    <div class="appMenuList">
    <ul class="main-nav" id="js-menu">
      <li><a href="/app/home" class="nav-links">Home</a>
      </li>
      <li><a href="/app/signup/" class="nav-links">Register a patient</a>
      </li>
      <li><a href="/app/lookup/patient" class="nav-links">Search for a patient</a>
      </li>
      <li><a href="/app/patients" class="nav-links">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Current patients within your region</a>
      </li>  
      <li><a href="/app/logout" class="nav-links">Logout</a>
      </li>   
    </ul>
          </div>
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fa fa-bars"></i>
        </span>
  
  </nav>