 <div class='form-container'>  

<h1>COVI 19 App Project</h1>
<p></p>
<a href="/admin" class="btn btn-primary">Login as a admin</a>
<p></p>
<a href="/app" class="btn btn-primary">Login as a healthcare worker</a>

</div>