 <div class='form-container adminLoginContainer'>  
     <div class="d-flex flex-column align-items-center jusitfy-content-center">
            <div class="col-fluid">
     <h1 class="mt-5">Welcome to the COVID-19 App Project</h1>
<p></p>
<a href="/admin" class="btn btn-outline-primary w-100 mt-5">Login as an administrator</a>
<br />
<a href="/app" class="btn btn-outline-primary w-100 mt-5">Login as a healthcare worker</a>
</div>
</div>
</div>

      <!-- Footer -->
      <footer class="loginFooter d-flex align-items-center justify-content-center">
            <span class="font-smaller text-light">Copyright © Daniel Hoogerwerf & Friso Homan, 2020</span>
      </footer>
      <!-- End of Footer -->