<h1>Home COVI 19 App</h1>
<form action="/" method="post">
    <h3> Login </h3> 
<label>Username</label>
<input type="text" name="username"><br><br>
<label>Password</label>
<input type="password" name="password">
<p></p>
<button type="submit">Send</button>
</form>