<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/style-dashboard.css" />
  <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
<script src="https://use.fontawesome.com/80189bc5a1.js"></script>
</head>


  {{{body}}}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_cc2738MLy5IWc24DZx2WSryUAePNhXE&callback=initMap">
</script>
 <script src="/javascripts/maps.js"></script>
 <script src="/javascripts/charts.js"></script>
   <script src="/javascripts/tables.js"></script>
  <script src="/javascripts/main.js"></script>
</body>
</html>

