
 {{> navbar}}
<div class='form-container'> 


<p class="mx-0 h3 d-flex justify-content-between">Search for a patient</p>
<p><span class="font-weight-light font-smaller" >{{#if currentUser}}Current Username: {{currentUser}}{{/if}}</span></p>
{{#if errorMessage}}<div class="alert alert-warning" role="alert"> {{errorMessage}} </div>  {{/if}}
<br />
Search for a (partial) name or on birth date:
<br />
<form action="/app/lookup/patient" class="m-3" method="post">
<div class="form-group row">
<label class="font-weight-bold">Last name</label>
<input class="form-control" type='text' name='name'>
</div>
<div class="form-group row">
<label class="font-weight-bold">Birth date</label>
<input  class="form-control" type='date' name='birthdate'>
</div>
<br />
<button class="btn btn-primary w-100" type="submit">Search for the patient</button>
<br />
<a class="btn btn-info float-right mt-5 w-100" href="/app/home">Return to home screen</a>
</form>
</div>
