
 {{> navbar}}
<div class='form-container'> 
{{#if currentUser}}Username: {{currentUser}}{{/if}}

<h3>Lookup A Patient</h3>
{{#if errorMessage}}<div class="alert alert-warning" role="alert"> {{errorMessage}} </div>  {{/if}}
<br />

<form action="/app/lookup/patient" class="user" method="post">
<div class="form-group row">
<label>Name</label>
<input class="form-control" type='text' name='name'>
</div>
<div class="form-group row">
<label>Birthdate</label>
<input  class="form-control" type='date' name='birthdate'>
</div>
<button class="btn btn-primary" type="submit">Search</button>
</form>
<br />



<p><a class="btn btn-primary" href="/app/home">Return to home screen</a></p>

</div>
