
 {{> navbar}}
<div class='form-container'> 


<p class="mx-0 h3 d-flex justify-content-between">Search for a patient <span class="h5 font-weight-light">{{#if currentUser}}{{currentUser}}{{/if}}</span></p>
{{#if errorMessage}}<div class="alert alert-warning" role="alert"> {{errorMessage}} </div>  {{/if}}
<br />
Search for a (partial) name or on birth date:
<br />
<form action="/app/lookup/patient" class="m-3" method="post">
<div class="form-group row">
<label class="font-weight-bold">Last name</label>
<input class="form-control" type='text' name='name'>
</div>
<div class="form-group row">
<label class="font-weight-bold">Birth date</label>
<input  class="form-control" type='date' name='birthdate'>
</div>
<br />
<button class="btn btn-primary ml-n3" type="submit">Search for patient</button>
</form>
<br />



<p><a class="btn btn-info" href="/app/home">Return to home screen</a></p>

</div>
