
<h1>Mobile app home</h1>


Welcome to the COVI 19 registration app!
<p></p>
<a href="/app/signup/patient" class="btn btn-primary">Signup Patient</a>
<p></p>
<a href="/app/lookup-patient" class="btn btn-info">Look up</a>
<p></p>
<a href="/app/patient-list" class="btn btn-warning">Patient list</a>
<p></p>
<a href="/app/logout" class="btn btn-danger">Logout</a>
