
 {{> navbar}}
 <div class='form-container'>


Hi {{currentUser.username}},
<p></p>
With this COVID-19 registration app you can register and change
the status for patients with COVID-19 infections in the GGD region of: <br>
<b> {{currentUser.region}} </b>

<p></p>
<a href="/app/signup/" class="btn btn-warning">Register a patient</a>
<p></p>
<a href="/app/lookup/patient" class="btn btn-primary">Look up a patient</a>
<p></p>
<a href="/app/patients" class="btn btn-info">Patient list</a>
<p></p> 
<a href="/app/logout" class="btn btn-secondary">Logout</a>
</div>