
 {{> navbar}}
 <div class='form-container text-center'>


Hi {{currentUser.username}},
<p></p>
With this COVID-19 registration app you can register and change
the status for patients with COVID-19 infections in the GGD region of: <br>
<b> {{currentUser.region}} </b>
<br />
<br />

<div class="container mt-5 ">
    <div class="buttonsContainer">
<a href="/app/signup/" class="btn btn-warning w-100">Register a patient</a>
<p></p><br />
<a href="/app/lookup/patient" class="btn btn-primary w-100">Search for a patient</a>
<p></p><br />
<a href="/app/patients" class="btn btn-info w-100">Current patient list in your region</a>
<p></p> <br />
<a href="/app/logout" class="btn btn-secondary w-100">Logout</a>
</div>
</div>
</div>