
 <nav class="navbar">
   <h3>COVID-19 App</h3>
    <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fa fa-bars"></i>
        </span>
    <a href="#" class="logo"><i class="fa fa-viruses" style='color:white;'></i></a>
    
    <ul class="main-nav" id="js-menu">
      <li>
        <a href="/app/home" class="nav-links">Home</a>
      </li>
      <li>
        <a href="/app/lookup/patient" class="nav-links">Lookup patient</a>
      </li>
      <li>
        <a href="/app/signup/" class="nav-links">Register Patient</a>
      </li>
      <li>
        <a href="/app/patients" class="nav-links">My patients</a>
      </li>
     
    </ul>
  </nav>

 <div class='form-container'>
<h1>Mobile app home</h1>


Welcome to the COVI 19 registration app!
<p></p>
<a href="/app/signup/" class="btn btn-primary">Register a patient</a>
<p></p>
<a href="/app/lookup/patient" class="btn btn-info">Look up a patient</a>
<p></p>
{{!-- <a href="/app/patients/list" class="btn btn-warning">Patient list</a>
<p></p> --}}
<a href="/app/logout" class="btn btn-danger">Logout</a>
</div>