
<h1>Mobile app home</h1>


Welcome to the COVI 19 registration app!
<p></p>
<button class="btn btn-primary" href="/signup">Signup</button>
<p></p>
<button class="btn btn-primary">Look up</button>
<p></p>
<button class="btn btn-primary">Patient list</button>

<a class="btn-orange-big" href="/open-een-rekening/zelf-beleggen">Open een rekening</a>