<h1>Welcome admin</h1>


Welcome to the COVI 19 admin page
<p></p>
<button class="btn btn-primary">Look up user</button>
<p></p>
<button class="btn btn-primary">Look up user</button>
<p></p>
<button class="btn btn-primary">User list</button>