

 <div class='form-container'>
 
<h3 class='d-inline'>COVID-19 Dashboard</h3> 
         
<br />
<div class="m-3">
<form class="user" action="/admin" method="post">
  <div class="form-group row">
<label>Username</label>
<input type="text" class="form-control" name="username">
</div>
<div class="form-group row">
<label>Password</label>
<input class="form-control" type="password" name="password">
</div>
{{#if message}}
<div class="alert alert-warning ml-n3" role="alert">{{ message }}</div>
{{/if}}
<button type="submit" class="btn btn-primary ml-n3" >Sumbit login data</button>
</form>
<p></p>

</div>