

 <div class='form-container'>
 
<h3 class='d-inline'>COVID-19 Dashboard</h3> 
         

<form class="user" action="/admin" method="post">
  <div class="form-group row">
<label>Username</label>
<input type="text" class="form-control" name="username">
</div>
<div class="form-group row">
<label>Password</label>
<input class="form-control" type="password" name="password">
</div>
<button type="submit" class="btn btn-primary" >Send</button>
</form>
<p></p>
{{#if message}}
<div class="alert alert-warning" role="alert">{{ message }}</div>

  {{/if}}
