<body id="page-top">

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3"></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/admin/home">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Home</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

     

      <!-- Nav Item - Pages Collapse Menu -->
           <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Dashboard</span></a>
      </li>

      
      

      <!-- Nav Item - Charts -->
{{#if admin}}
<li class="nav-item">
        <a class="nav-link" href="/admin/userlist">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Userlist</span></a>
      </li>
{{/if}}   

      <li class="nav-item">
        <a class="nav-link" href="/admin/patientlist">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Patients</span></a>
      </li>

            <li class="nav-item">
        <a class="nav-link" href="/admin/logout">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Logout</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

     
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

   {{> navbaradmin}}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex flex-row align-items-center mb-0">
            <h3 class="h3">TOTAL CASES</h3>
            <p class="mx-3 align-self-end text-muted">Last updated: <span id="totals-last-update">4th of april, 14:00hr GMT</span></p>
            </div>
            
                

                     

          <!-- Content Row -->
          <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Confirmed infections</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="dashboard-data-total">Loading</div>
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Confirmed infections today</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="dashboard-data-total-today">Loading</div>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Hospitalized</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="dashboard-data-hospitalized">Loading</div>
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Hospitalized today</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="dashboard-data-hospitalized-today">Loading</div>

                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Intensive care</div>
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="dashboard-data-ic">Loading</div>
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Intensive care today</div>
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="dashboard-data-ic-today">Loading</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          
                        </div>
                  
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>            
          </div>

          <!-- Content Row -->
          <div class="row">           
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Deceased</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="dashboard-data-deceased">Loading</div>
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Deceased Today</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="dashboard-data-deceased-today">Loading</div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Recovered</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="dashboard-data-recovered">Loading</div>
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Recovered Today</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800" id="dashboard-data-recovered-today">Loading</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Fatality rate </div>
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="dashboard-data-fatalities">Loading</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          
                        </div>
                        
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>            
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Outbreak graph since 1th case  </h6>
      
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                 
                    <canvas id="barChart" width="482" height="400" class="chartjs-render-monitor" style="display: block; height: 320px; width: 386px;"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">GGD map</h6>
                 
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                
                    <div id="map" width="320" height="306" class="chartjs-render-monitor" style="display: block; height: 245px; width: 256px;"></div>
                  </div>
                  
                </div>
                <br> <br>
              </div>
            </div>
          </div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
            NEW CASES LAST 24hr<br>
            Last updated: 4th of april, 14:00hr GMT

                     </div>
          <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Confirmed infections</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">1275</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Hospitalized</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">345</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Intensive care</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">84</div>
                        </div>
                  
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>            
          </div>
             
<div class="row">           
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Deceased</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">45</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Recovered</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">98</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        
           

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © COVID-19</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
</body>

{{!-- Load API content, chartjs and Google maps --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_cc2738MLy5IWc24DZx2WSryUAePNhXE&callback=initMap">
</script>

 <script src="/javascripts/maps.js"></script>
 <script src="/javascripts/charts.js"></script>
<script src="/javascripts/apidata.js"></script>